@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
.container{
width: 100%;
position: relative;

}
.btn{
    position: absolute;
    top: 87%;
    left: 16%;
    padding: 0.625em 1.563em;
    width: auto;
    cursor: pointer;
    background-color: white;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 0.063em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    min-width: 5.625em;
    line-height: 1.42;
    border: 0.125em solid transparent;
}
.brand{
    position: absolute;
    top: 79%;
    left: 3%;
    font-family: 'Chloe';
    color: white;
    font-size: 3.438em;

}
.brand1{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    color: white;
    top: 88%;
    left:3%;
    font-size: 1.25em;
}
.container2{
    text-align: center;
    padding: 6.25em;
    font-family:'Montserrat', sans-serif;
    color: #333029;
    font-size: 1.344em;
    font-weight: 700;
    
}
.container3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #caafa8;
    color: white;
}
.text{
    align-self: center;
    padding: 6.25em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}
.image{
    align-self: center;
    padding: 6.25em;
   
}
.container4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #caafa8;
    color: white;
}

.text1{
    font-family: 'Montserrat',sans-serif;
    align-self: center;
    padding: 6.25em;
    font-weight: 600;
    font-size: 1.25em;
}
.image1{
    align-self: center;
    padding: 6.25em;
}
.heading{
    font-family: 'Chloe';
    font-size: 3.75em;
}
.end{
    font-family: 'Chloe';
    letter-spacing: 0.063em;
    padding: 6.25em;
    font-size: 2.813em;
    text-align: center;
}
.image2{
    align-self: center;
    padding: 6.25em;
}
.cart{

    border: 0.125 solid white;
    cursor: pointer;
    color: white;
    background-color: #caafa8;
    padding: 0.625em 1.563em;
    width: 100vw;
    margin: 0.625em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;

}
.btn1{
    padding: 0.2em 1em;
    border: 0.02em solid white;
    background-color: #caafa8;
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    

}

@media (max-width:768px){
    .brand{
        top: 69%;
    }
    .btn{
        left: 73%;
        top: 83%;
        padding: 6px 9px;
    }
    .container3{
        display: flex;
        flex-wrap: wrap;
    }
    .container4{
        display: flex;
        flex-wrap: wrap;
    }
    .image{
       padding: 20px 0 100px 0;
    }
    .image1{
        padding: 100px 0 20px 0;
     }
     .image2{
        padding: 20px 0 0 0;
     }
     .end{
        padding: 100px 0 100px 0;
     }
     .container2{
         font-size: 15px;
         padding: 100px 0 100px 0;
     }
     .text{
         font-size: 15px;
     }
     .text1{
        font-size: 15px;
    }
}