.container{
    font-family: 'Montserrat',sans-serif;
    color: white;
    background-color: #caafa8;
    padding: 100px;
}
.heading{
    font-family: 'Chloe';
    color: white;
    text-align: center;
}