@font-face {
    font-family: Chloe;
    src: url(../Font/Chloe-Regular.otf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container{
    background-color: #caafa8;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 0.625em;
}
.ul{
    list-style: none;
    display: flex;
    margin-right: 3.125em;
  

}
.link{
    
    margin: 0 auto;
    padding-right: 6.25em;
}
.links{
    padding: 0.469em 1.25em;
    font-size: 0.781em;
    font-family:'Montserrat', sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0.125em;
}

.moda{
    padding-left: 0.5em;
    font-family: 'Chloe';
    font-size: 3.125em;
    color: white;
    font-weight: 900;
    
}
.cart{
    padding-right: 1.25em;
    color: white;
    cursor: pointer;
}
.links:hover{
    font-weight: bold;
}
.bag{
    position: relative;
    padding: 10px;
}
.count{
    position: absolute;
    top: 0;
    right: 0;
    
}

@media (max-width:768px)
{
    .moda{
        font-size: 25px;
        padding: 0;
    }
    .link{
        padding: 0;
    }
    .links{
        padding:0 0 0 15px;
        font-size: 9px;
        font-weight: 600;
    }
    .cart{
       
            padding: 0 10px 0 0;
    }
    .container{
        padding: 15px;
    }
    .bag{
        position: relative;
        /* padding: 10px; */
    }
    .count{
        position: absolute;
        top: 0;
        right: 0;
        
    }
}



