.maincontainer{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    /* padding: 3.125em; */
    /* justify-content: space-between; */
    background-color: #caafa8;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    padding-left: 120px;
    padding-right: 10px;
    padding-top:20px;
}
.item{
    cursor: pointer;
    padding-bottom: 3.125em;
}

.img:hover {
    

        -webkit-filter: blur(1px);
        filter: blur(1px);
        transition-duration: 0.5s;
    
}
.details{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    align-content: center;
    
    
}
@media (max-width:768px){
    .maincontainer{
        padding:50px 10px 10px 20px;
    }
}
